$color-hover:#3040C4;
$text-color: #fff;
$shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
$shadow-hover: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
$font-bold: 700;
$marg: 15px;
$font-size: 22px;
$line-height: 28px;
$width: 290px;
$border-radius: 8px;
$width-page: 1140px;
$width-large: 555px;
$width-button-white: 158px;
$width-button-blue: 160px;
$height: 48px;